{% extends 'base.html.twig' %}


{% block title %}
    Nouveau lieu
{% endblock %}

{% form_theme newLieuForm 'bootstrap_4_layout.html.twig' %}

{% block main %}
    <style>
        label {
            color: #fffffe;
        }
    </style>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm- 10 col-md-8 col-lg-6 p-3">
                <h1 class="text-center">Ajouter un lieu </h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 m-5 p-3">
                {% block form %}
                    {{ form_start(newLieuForm) }}
                    {{ form_widget(newLieuForm) }}
                    <button name="addVille" class="btn " style="background-color: #e53170; color:#fffffe"><a href="{{path('nouvelleVille')}}"><i
                                    class="fal fa-plus"></i></a></button>
                    <label for="addVille" > Ajouter une Ville ?</label>
                    <br>
                    <br>
                        <button type="submit" class="btn btn-block" style="background-color: #ff8906; color:#fffffe; outline: none">Enregistrer
                        </button>

                    {{ form_end(newLieuForm) }}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
