{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Sortir.com{% endblock %}

{% block main %}
    <main>
        <div class="container justify-content-center">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Accueil</h1>
                </div>
            </div>
            <br>
            <div class="row m-3 ">
                <div class="col-12 col-md-6 p-3">
                    <h3 class="text-center">Our Amazing Idea</h3>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis finibus feugiat. Ut in
                        neque sed ante finibus tempor vitae eu augue. Aliquam at lacus sollicitudin, laoreet neque
                        hendrerit, ultrices libero. Nunc vel efficitur ligula, vitae tincidunt sapien. Suspendisse augue
                        enim, semper ac est id, cursus lacinia urna. Sed justo lectus, blandit non feugiat mattis,
                        pulvinar id nulla. Cras blandit ultrices erat sed luctus. Suspendisse sed metus nunc. Fusce sed
                        accumsan lacus, ut mattis turpis. Nulla consectetur ipsum fermentum magna bibendum laoreet.
                    </p>
                </div>
                <div class="col-12 col-md-6 p-3">
                    <h3 class="text-center">Our Goal</h3>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis finibus feugiat. Ut in
                        neque sed ante finibus tempor vitae eu augue. Aliquam at lacus sollicitudin, laoreet neque
                        hendrerit, ultrices libero. Nunc vel efficitur ligula, vitae tincidunt sapien. Suspendisse augue
                        enim, semper ac est id, cursus lacinia urna. Sed justo lectus, blandit non feugiat mattis,
                        pulvinar id nulla. Cras blandit ultrices erat sed luctus. Suspendisse sed metus nunc. Fusce sed
                        accumsan lacus, ut mattis turpis. Nulla consectetur ipsum fermentum magna bibendum laoreet.
                    </p>
                </div>
            </div>
            <div class="row m-3">
                <div class="col-12 col-md-4 p-3">
                    <h3 class="text-center">Epic Content 1 </h3>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis finibus feugiat. Ut in
                        neque sed ante finibus tempor vitae eu augue. Aliquam at lacus sollicitudin, laoreet neque
                        hendrerit, ultrices libero. Nunc vel efficitur ligula, vitae tincidunt sapien. Suspendisse augue
                        enim, semper ac est id, cursus lacinia urna.
                    </p>
                </div>
                <div class="col-12 col-md-4 p-3">
                    <h3 class="text-center">Epic Content 2</h3>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis finibus feugiat. Ut in
                        neque sed ante finibus tempor vitae eu augue. Aliquam at lacus sollicitudin, laoreet neque
                        hendrerit, ultrices libero. Nunc vel efficitur ligula, vitae tincidunt sapien. Suspendisse augue
                        enim, semper ac est id, cursus lacinia urna.
                    </p>
                </div>
                <div class="col-12 col-md-4 p-3">
                    <h3 class="text-center">Epic Content 2.5</h3>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis finibus feugiat. Ut in
                        neque sed ante finibus tempor vitae eu augue. Aliquam at lacus sollicitudin, laoreet neque
                        hendrerit, ultrices libero. Nunc vel efficitur ligula, vitae tincidunt sapien. Suspendisse augue
                        enim, semper ac est id, cursus lacinia urna.
                    </p>
                </div>
            </div>

        </div>
    </main>
{% endblock %}


