{% extends 'base.html.twig' %}


{% block title %}
    Panneau d'administration
{% endblock %}

{% block main %}
<style>
    ul.nav.nav-tabs {
        border-color: #e53170;
    }

    ul.nav.nav-tabs > li.active > a.nav-link.active {
        color: #fffffe;
        background: #0f0e17;
        border-color: #e53170;
    }

    ul.nav.nav-tabs > li > a {
        color: #fffffe;
    }

    ul.nav.nav-tabs > li > a:hover {
        border-color: #e53170;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm- 10 col-md-8 col-lg-6 p-3">
            <h1 class="text-center">Panneau d'administration </h1>
        </div>
    </div>
    <div class="panel with-nav-tabs">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a class="nav-link" href="{{ path('listeUtilisateurs') }}">Utilisateurs</a>
                </li>
                <li class="active">
                    <a class="nav-link" href="#adminSorties" data-toggle="tab">Sorties</a>
                </li>
                <li class="active">
                    <a class="nav-link" href="#adminLieux" data-toggle="tab">lieux</a>
                </li>
                <li class="active">
                    <a class="nav-link" href="{{ path('listeVilles') }}">Villes</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    {% endblock %}



