{% extends 'base.html.twig' %}

{% block title %}
    Mot de passe oublié
{% endblock %}

{% block main %}
    <div class="container" style="margin-top: 6em; margin-bottom: 6em">
        <div class="row justify-content-center">
            <div class="col-12 col-sm- 10 col-md-8 col-lg-6 p-3">
                <h1 class="text-center">Mot de passe oublié</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-4 p-3 m-5">
                <form name="forgot_form" method="post">
                    <p>Veuillez saisir votre adresse e-mail afin de changer votre mot de passe</p>
                    <div class="form-group">
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="email@gmail.com" required="required">
                    </div>
                    <button class="btn btn-block" type="submit" style="background-color: #ff8906; color:#fffffe">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}