{% extends 'base.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% form_theme registerForm 'bootstrap_4_layout.html.twig' %}

{% block main %}
    <style>
        label{
            color:#fffffe;
        }
    </style>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm- 10 col-md-8 col-lg-6 p-3">
                <h1 class="text-center">Inscription </h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 m-5 p-3">
                {% block form %}
                    {{ form_start(registerForm) }}
                    {{ form_widget(registerForm) }}
                    <br>
                    <button type="submit" class="btn btn-block" style="background-color: #ff8906; color:#fffffe">Je
                        m'inscris
                    </button>
                    {{ form_end(registerForm) }}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}