{% extends 'base.html.twig' %}

{% block title %}
    Mot de passe oublié
{% endblock %}

{% block main %}
    <style>
        body{
            background: #0f0e17;
        }

        header{
            background-color: transparent;
            color: #fffffe;
        }

        footer{
            background-color: #f25f4c;
        }

        h1,h2,h3,h4,h5,h6,p{
            color : #fffffe;
        }

        a{
            text-decoration: none;
            color : #fffffe;
        }

        a:hover{
            color: #fffffe;
        }

        form{
            margin:1%;
            padding:1%;
        }

        #lienMail {
            color: #ff8906;
        }

    </style>
    <div class="container" style="margin-bottom: 6em">
        <div class="row justify-content-center">
            <div class="col-12 col-sm- 10 col-md-8 col-lg-6 p-3">
                <h1 class="text-center">Mot de passe oublié</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="">
                <p class="text-center">Veuillez cliquer sur le lien ci-dessous afin de mettre à jour votre mot de passe</p>
                <a class="text-center" id="lienMail" href="{{ url }}">{{ url }}</a>
            </div>
        </div>
    </div>
{% endblock %}